<div>
    <!-- Add New and Check Buttons -->
    <button id="openModalButton">Add new {{tableName}}</button>

    <!-- Table -->
    <table>
        <thead>
            <tr>
                {{#each columns}}
                    <th>{{this}}</th>
                {{/each}}
            </tr>
        </thead>
        <tbody>
            {{#each data}}
                <tr onClick="(() => window.openUpdateForm(this))();return false;">
                    {{#each this}}
                        <td id="{{@key}}">{{this}}</td>
                    {{/each}}
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>

{{> form tableName=tableName columns=columns }}
