<div>
    <h1>{{tableName}}</h1>
    <table>
        <thead>
            <tr>
            {{#each columns}}
                <th>{{this}}</th>
            {{/each}}
            </tr>
        </thead>
        <tbody>
            {{#each data}}
            <tr>
                {{#each this}}
                <td>{{this}}</td>
                {{/each}}
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>